DEFAULT_TIMEOUT=30000

CREDENTIALS__LOGIN_TYPE="email" # Login type is "email" or "phone"
CREDENTIALS__LOGIN="user@example.com"
CREDENTIALS__PASSWORD="password" # Optional, 2FA will be used if not provided

SEARCH_QUERY__TEXT="Python"
SEARCH_QUERY__SEARCH_FIELD=["name"]
SEARCH_QUERY__EXPERIENCE="between3And6"
